table{
    border-collapse: collapse;
    margin-left: 400px;
    margin-top: 50px;
}

td, th{
    border: 1px solid black;
    
}
.add{
    margin-top: 10px;
    margin-left: 400px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 500px;
    text-align: center;
}

form input{
    margin-bottom: 10px;
}

#edit, #add{
    display: none;
    margin-left: 415px;
}